/**
* All of the CSS for your public-facing functionality should be
* included in this file.
*/


#wpwrap {
    background-color: #f0f0f1 !important;
}
/* body {
    background: #f0f0f1;
} */
.fb_sc_maindiv.fb-panel {
    margin-top: 25px;
    border: #aaa 1px solid;
    padding:15px;
    margin-right: 15px;
    background-color: #fff !important;
}
.fb_sc_maindiv .wrap {
    background: #fff;
    padding: 15px;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
}
.fb_sc_maindiv .fb-input {
width: 100%;
}

.fb_sc_maindiv .form-table {
    width: 100%;
}

.fb_sc_maindiv .half {
    width: 50%;
}


.fb_sc_maindiv .inputgroup {
    display: inline-flex;
}

.fb_sc_maindiv .submit-div {
    overflow: hidden;
}

.fb_sc_maindiv .fb_sc_submitbtn {
    float: right;
    background: #2271b1 !important;
    border-color: #2271b1 !important;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: none !important;
    display: inline-block !important;
    font-size: 13px !important;
    line-height: 2px !important;
    min-height: 30px !important;
    margin: 0 !important;
    padding: 0 10px !important;
    cursor: pointer !important;
    border-width: 1px !important;
    border-style: solid !important;
    -webkit-appearance: none !important;
    border-radius: 3px !important;
    white-space: nowrap !important;
    box-sizing: border-box !important;
    height: 28px !important;
}
.fb_sc_maindiv .fb_sc_submitbtn:focus,
.fb_sc_maindiv .fb_sc_submitbtn:active {
    box-shadow: none;
}


.fb_sc_maindiv .btn {
    color: #fff;
}

.fb_sc_maindiv .fb_sc_table th:last-of-type {
    width: 1px;
}















.fb_sc_maindiv .add-user-shift
{
    background-color: #5cb85c !important;
    color: #fff !important;
    border: 1px solid #5cb85c !important;
}
.fb_sc_maindiv .choose-ym-calendar
{
    background-color: #e2e3e5 !important;
    color: #000 !important;
    border: 1px solid #ced4da !important;
}

#calendar-div.fb_sc_maindiv {
    width: 100%;
    max-width: 1500px !important;
    padding: 0 30px;
}

.fb_sc_maindiv .month {
  padding: 15px;
  width: 100%;
  background: #cce5ff;
  /* text-align: center; */
}

/* .month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
} */


.fb_sc_maindiv .weekdays {
    margin: 0;
    padding: 0px 0;
    background-color: #cce5ff !important;
    display: table;
    width: 100%;

}
.fb_sc_maindiv .weekdays li:first-of-type,
.fb_sc_maindiv .weekdays li:last-of-type {
    background-color: #f8d7da !important;
    color: #721c24 !important;
}

.fb_sc_maindiv .weekdays li:first-of-type{
    border-right: 1px solid #fff;
}
.fb_sc_maindiv .weekdays li:last-of-type{
    border-left: 1px solid #fff;
}
.fb_sc_maindiv .weekdays li {
    display: table-cell;
    width: 14.28%;
    color: #000;
    text-align: center;
    border-top: 1px solid #fff;
    /* border-right: 1px solid #fff; */
    /* border-left: 1px solid #fff; */
    padding: 10px 0;
    color: #004085 !important;
    margin: 0;
}

.fb_sc_maindiv .days {
    margin: 0;
    padding: 10px 0;
    background: #fff;
    display: table;
    width: 100%;
}

.fb_sc_maindiv .days li.selectable:hover
{
    cursor: pointer;
    background-color: #e2e3e5;
}
.fb_sc_maindiv .days li {
    /* display: table-cell; */
    list-style-type: none;
    display: inline-block;
    width: 14.28%;
    text-align: left;
    /* margin-bottom: 5px; */
    font-size:12px;
    color: #000;
    /* max-width: 1000px !important; */
    min-height: 100px;
    max-height: 100px;
    overflow-y: auto;
    /* overflow-ye: scroll; */
    vertical-align: middle;
    border-top: 1px solid #888888;
    border-left: 1px solid #888888;
    padding: 5px;
    box-shadow: 1px 1px #888888;
    margin: 0;
}

/*
.fb_sc_maindiv .days li::-webkit-scrollbar {
    display: none;
}

.fb_sc_maindiv .days li  {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */

/* width */
.fb_sc_maindiv .days li::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.fb_sc_maindiv .days li::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
.fb_sc_maindiv .days li::-webkit-scrollbar-thumb {
  background: #6c757d;
}

/* Handle on hover */
.fb_sc_maindiv .days li::-webkit-scrollbar-thumb:hover {
    background: #6c757d;
}


.fb_sc_maindiv .days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}


.fb_sc_maindiv .ymd-label,
.fb_sc_maindiv .overlaytitle {
    display: inline-block;
}
.fb_sc_maindiv .btn-overlay-close,
.fb_sc_maindiv .btn-overlay-close:hover,
.fb_sc_maindiv .btn-overlay-close:active,
.fb_sc_maindiv .btn-overlay-close:focus {
    float: right;
    background: #fff !important;
    border: #fff !important;
    color: #000 !important;
    box-shadow: none;
}
.fb_sc_maindiv .overlays,
.fb_sc_maindiv .blankoverlays,
.fb_sc_maindiv .adminoverlays {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2;
    /* cursor: pointer; */
    margin: 0 !important;
    max-width: unset !important;
}

.fb_sc_maindiv .overlays .card,
.fb_sc_maindiv .blankoverlays .card,
.fb_sc_maindiv .adminoverlays .card
{
    margin-top: 100px;
    padding-top: 15px;
}


.fb_sc_maindiv #available-shifts-table {

}

.fb_sc_maindiv #available-shifts-table tr td {
    text-align: center;
}

.fb_sc_maindiv #available-shifts-table th:last-of-type {
    width: 40px;
}

.fb_sc_maindiv button.btn-claim-sched,
.fb_sc_maindiv .fb_sc_claimbtn {
    background-color: #17a2b8 !important;
    color: #fff !important;
}

.fb_sc_maindiv .loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}
.fb_sc_maindiv #available-shifts-table tr td.loadertd,
.fb_sc_maindiv .loadertd {
    text-align: -webkit-center;
    padding: 30px 0;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.fb_sc_maindiv .verifiedbadge {
    display: block;
    cursor: pointer;
}

#calendar-div.fb_sc_maindiv .badge {
    width: 100% !important;
    border-radius: 0;
    text-align: left;
}

.container2 {
    max-width: 600px;
    margin: auto;
}

#calendar-div.fb_sc_maindiv .fb-form-control,
#calendar-div.fb_sc_maindiv .fb-form-control:active,
#calendar-div.fb_sc_maindiv .fb-form-control:focus {
    font-size: .875rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: block;
    padding: 0 8px;
    line-height: 2;
    min-height: 30px;
    box-shadow: 0 0 0 transparent;
    border-radius: 4px;
    border: 1px solid #8c8f94;
    background-color: #fff;
    color: #2c3338;
}

/* .main-calendar:not(.loggedin),
.main-auth.loggedin {
    display: none;
}
.main-calendar.loggedin
.main-auth {
    display: block !important;
} */
.main-auth {
    display: none;
}

.input-group input.fb-form-control {
    margin:0;
}
.input-group input.fb-form-control {

    border-right: 0 !important;
}
.input-group-prepend .fb-form-control{
    margin-right: -1px;

}
.input-group>.custom-select.fb-form-control:not(:last-child), .input-group>.form-control.fb-form-control:not(:last-child) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.input-group-prepend input,
.input-group-prepend button,
.input-group-prepend select {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.pw-protect-div {
    width: 300px;
    margin: auto;
}
.pw-submit {
    background-color: #cce5ff !important;
    color: #004085 !important;
}

.pw-submit span {
    margin-top: 3px;
}

.fb_sc_maindiv .pagination {
    display: inline-block;
}
.fb_sc_maindiv .page-item {
    display: inline-block;
}

.claimform-overlay .card.overlay-card{
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
}

input[disabled="disabled"] {
    opacity: 0.5;
}

#available-shifts-table-div .pagination {
    border: 0;
    margin: 0
}

.available-shifts-table-overflowdiv {
    max-height: 65vh;
    overflow-y: scroll;
}

.overlays h3 {
    display: inline-block;
}
